.header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

#containerList{
    overflow-y:scroll;
	overflow-x: hidden;
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 100%;
}

#productName{
    width: 40%;
}

#unitaryPrice{
    display: flex;
    align-items: center;
    width: 10%;
}

#totalPrice{
    width: 20%;
}

#qtd{
    width: 5% ;
}

.row{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: flex-start;
}

.row h2 {
    width: 40%;
}

.row p{
    width: 10%;
    display: flex;
    text-align: left;
}

.row input {
    width: 5%;
}

.containerPrice {
    width: 100%;
    display: flex;
    justify-content: end;
}

.containerPrice p{
    font-size: x-large;
    font-weight: bolder;
    width: 100%;
    display: flex;
    justify-content: end;
}

.containerPrice button{
    font-size:medium;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.listNull{
    font-size: x-large;
    color: gray;
    height: 100%;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;

}

.header p{
    font-weight: 600;
    color: gray;
    font-size: larger;
}

.containerNF{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    height: 200px;
	overflow-y:scroll;
    overflow-x: hidden; 
}

.containerNF p{
    margin: 4px;
}

.containerPriceNF{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.containerNFKey {
    width: 100%;
}